.alert {
    margin: 0 0 -10px 0;
    padding: 10px;
}
table.dataTable{
    width: 100% !important;
}
.dataTable tr th, .dataTable tr td {
    min-width: 80px;
    max-width: 300px;
    overflow-wrap: break-word;
}

.slider-range-data{
    padding: 6px 12px;
    text-align: center;
    border: 1px solid transparent;
    background: transparent;
    width: 100%;
    font-size: 15px;
}
.clear_btn{
    margin-top: 24px;
}

.content{
    padding-top: 10px;
}

.content-header{
    padding-top: 2px;
}
.filter-box{
    margin-bottom: 10px;
}
.filter-box-fix-height .box-body{
    height: 160px;
}

.hotel-price .filter-box-fix-height .box-body{
    height: 140px;
}

.filter-box-fix-height .box-body ul li{
    margin-bottom: 1px;
}
.filter-box .box-body{
    overflow: auto;
    padding: 4px 10px;
}
.filter-box .box-header {
    padding: 4px 6px;
}
.filter-box .box-header .box-title{
    font-size: 14px;
}
.filter-box .box-body ul{
    margin-bottom: 0;
    margin-left: -40px;
}

.filter-box .box-body ul li{
    list-style: none;
}
.filter-box .box-body ul li label{
    cursor: pointer;
    font-weight: normal;
    margin: 0;
}
.filter-box .box-body ul li input{
    margin-right: 5px;
}

.filter-box .box-body .form-inline .input-group{
    margin-bottom: 0;
    display: inline-block;
}

.custome_badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color:#000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.equip_badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 12px;
    background: lightblue;
    border: 1px solid #269abc;
    margin-right: 10px;
    margin-bottom: 4px;
}

.stats_panel{
    background-color: #dd4b39;
    border-color: #d73925;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    color:#FFF;
}

.modal-body{
    padding: 0px;
}

#hotel_prices tbody{
    font-size: 12px;
}

.fa-size{
    font-size: 18px;
}

.p_badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color:#000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;    
    font-size: 16px;
    background: lightblue;
    border: 1px solid #269abc;
}
.p_badge:hover{
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.room_equip_popup, .hotel_equip_popup{
    background: lightblue;
    color: #000;
}
.font-normal {
    font-weight: normal !important;
}
.script_status{
    font-size: 16px;
}
.overflow-0{
    overflow: hidden !important;
}
div.dataTables_wrapper div.dataTables_processing {
    background-color: black;
    color: white;
    z-index: 99;
    top: 140px !important;
    font-size: 16px;
}
@media (max-width: 767px) {
    .filter-box-fix-height .box-body {
        height: auto;
        max-height: 120px;
    }
    .filter-box .box-body .form-inline label{
        vertical-align: top;
    }
}